<!DOCTYPE html>
<html>
<head>
  <title>Page Title2</title>
</head>
<body>
<div class="card my-5">
  <div class="card-body">
    <h1>Person's table</h1>
    <table id= "resultTable" class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Personal Code</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Birth Date</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let person of persons">
        <td>{{ person.personalCode }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.gender }}</td>
        <td>{{ person.birthDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
